.app-task {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.task-list-principal {
	width: 600px;
	min-height: 500px;
	background: #1b1b32;
	padding: 25px;
	margin: 10px;
	border-radius: 26px;
	border: 1px solid #fff;
}

h1 {
	color: #ffffff;
	font-size: 25px;
	font-family: roboto, sans-serif;
	text-align: center;
	margin: 20px 0;
}
